<! DOCTYPE HTML >
<html lang="ja">

<header class="page3">
    <p>推し活</p>
</header>
<body>
<!--   First block Start   -->
<section id="setsumei1-block">
    <div class="setsumei1-container">
        <div class="setsumei1-item">
            <h2>女性K-popアイドルが好きで推しています!</h2>
            <h2>ここでは、私の推し活やライブのレビューを紹介します！</h2>
        </div>
        <div class="irasuto1-item">
            <%= image_tag 'osikatsu-irasuto.png', class:"irasuto1-image" %>
        </div>
    </div>
    <div class="box5"> </div>
</section>
<!--   First block End   -->
<!--   second block Start   -->
<div class="box6"> </div>
<section id="osikatsu-block">
    <div class="box7"> </div>
    <div class="idol-logo">
        <%= image_tag 'aespa-logo.jpg', class:"a-logo-image" %>    
    </div>  
    <div class="a-idol">  
        <div class="idol-setsumei"> 
            <h2>aespaはカリナ、ジゼル、ウィンター、ニンニンの4人組ガールズグループ。</h2>
            <h2>歌唱力に優れたグループ。デビュー曲はBlack Mamba。ファンネームはMY。</h2>
        </div>
        <div class="idol-item"> 
            <%= image_tag 'aespa.jpg', class:"a-idol-image" %>    
        </div>
    </div>
    <div class="box5"> </div>
    <div class="a-osikatsu-review">
        <h6>2024年7月14日 てんき:☁</h6>
        <div class="box9"> </div>
        <div class="live-review-image">
            <%= image_tag 'aespa-live2.jpg', class:"a-live-image" %> 
            <%= image_tag 'aespa-live1.jpg', class:"a-live-image" %>
            <%= image_tag 'aespa-live3.jpg', class:"a-live-image" %> 
        </div>
        <div class="box9"> </div>
        <div class="live-review">
            <h6>2024 aespa LIVE TOUR-SYNK:PARALLEL LINE-in JAPAN</h6>
            <h6>SAITAMA DAY1に行ってきた!</h6>
            <h6>このライブのために朝4時まで、ぷくぷくボード作ってたよ～</h6>
            <h6>推しのニンニンのシンボルマークの蝶たくさん身に着けたの!</h6>
            <h6>ぷくぷくボードとネックレスとタトゥーシールとネイルにも蝶!</h6>
            <h6>ライブの感想は、今年も４人のギャルたちとてもかわいかった♡</h6>
            <h6>特にニンニンのミスがめっちゃ可愛かった♡</h6>
            <h6>ニンニンがHold On Tightの歌い出しをミスったの!</h6>
            <h6>ニンニンは落ち込んでたけど、ファンとしてはご褒美でしかない♡</h6>
            <h6>今年もクラブみたいに盛り上がれて楽しかった!</h6>
        </div>
    </div>
    <div class="box5"> </div>
    <div class="box6"> </div>
    <div class="box7"> </div>
    <div class="idol-logo">
        <%= image_tag 'newjeans-logo.jpg', class:"n-logo-image" %>    
    </div>  
    <div class="n-idol">  
        <div class="idol-setsumei"> 
            <h2>NewJeansはミンジ、ハニ、ダニエル、へリン、へインの5人組グループ。</h2>
            <h2>エモい楽曲が多い。デビュー曲はAttention。ファンネームはBunnis。</h2>
        </div>
        <div class="idol-item"> 
            <%= image_tag 'newjeans.jpg', class:"n-idol-image" %>    
        </div>
    </div>
    <div class="box5"> </div>
    <div class="n-osikatsu-review">
        <h6>2024年6月27日 てんき:☁</h6>
        <div class="box10"> </div>
        <div class="live-review-image">
            <%= image_tag 'newjeans-live1.jpg', class:"n-live-image" %> 
            <%= image_tag 'newjeans-live2.jpg', class:"n-live-image" %> 
            <%= image_tag 'newjeans-live3.jpg', class:"n-live-image" %> 
        </div>
        <div class="box10"> </div>
        <div class="live-review">
            <h6>Bunnies Camp 2024 Tokyo Dome Day2に行ってきた!</h6>
            <h6>服はNew Jeansの真似して白Tシャツに白のカーゴパンツにした!</h6>
            <h6>ネイルは、New Jeansとパワーパフガールズとコラボした時の</h6>
            <h6>メンバーカラーを取り入れて、かわいい感じにしたよ♡</h6>
            <h6>ライブの感想は、5人ともとてもかわいかった♡</h6>
            <h6>特に盛り上がったのはハニの「青い珊瑚礁」!!!!</h6>
            <h6>オタクコールで爆上がりしたし、ハニも驚いてた!</h6>
            <h6>ミンジの前髪あり・制服姿がとってもかわいかった♡</h6>
            <h6>最後にへインがケガで悔しくて泣いていて、私も泣きそうになった</h6>
            <h6>日本で最初のNew Jeans単独ライブに行けて、よかった!</h6>
        </div>
    </div>
    <div class="box5"> </div>
    <div class="box6"> </div>
    <div class="box7"> </div>
    <div class="idol-logo">
        <%= image_tag 'ive-logo.jpg', class:"i-logo-image" %>    
    </div>  
    <div class="idol">  
        <div class="idol-setsumei"> 
            <h2>IVEはユジン、ガウル、レイ、ウォニョン、リズ、イソの6人グループ。</h2>
            <h2>高身長でビジュアルが強い。デビュー曲はELEVEN。ファンネームはDIVE。</h2>
        </div>
        <div class="idol-item"> 
            <%= image_tag 'ive.jpg', class:"idol-image" %>    
        </div>
    </div>
    <div class="box5"> </div>
    <div class="osikatsu-review">
        <h6>2024年9月5日 てんき:☼</h6>
        <div class="box8"> </div>
        <div class="live-review-image">
            <%= image_tag 'ive-live1.jpg', class:"live-image" %> 
            <%= image_tag 'ive-live2.jpg', class:"live-image" %> 
            <%= image_tag 'ive-live3.jpg', class:"live-image" %> 
        </div>
        <div class="box8"> </div>
        <div class="live-review">
            <h6>IVE THE 1st WORLD TOUR < SHOW WHAT I HAVE></h6>
            <h6>in TOKYO DOME DAY2行ってきたよ!</h6>
            <h6>みんなお姫様みたいにかわいかった♡</h6>
            <h6>KitschとAccendioが盛り上がった!</h6>
            <h6>この日のためにレイのネームボード作ったよ!</h6>
            <h6>真ん中にはマスコットキャラクターのNAORIをつけたよ!</h6>
            <h6>あと、レイのスローガンもらった!かわいい♡</h6>
            <h6>1st WORLD TOURの最終日に行ったから、ガウル、レイ</h6>
            <h6>リズ、イソが泣いてた♡</h6>
            <h6>みんなお疲れ様!</h6>
        </div>
    </div>
    <div class="box5"> </div>
    <div class="box6"> </div>
</section>